@CHARSET "ISO-8859-1";

.gallerycontainer {
position: relative;
/*Add a height attribute and set to largest image's height to prevent overlaying*/
}

.thumbnail img {
border: 1px solid white;
margin: 0 5px 5px 0;
vertical-align: middle;
}

.thumbnail:hover {
background-color: transparent;
}

.thumbnail:hover img {
border: 1px solid blue;
}

.thumbnail span { /* CSS for enlarged image */
position: absolute;
background-color: lightyellow;
padding: 5px;
left: -1000px;
border: 1px dashed gray;
visibility: hidden;
color: black;
text-decoration: none;
}

.thumbnail span img { /* CSS for enlarged image */
border-width: 0;
padding: 2px;
}

.thumbnail:hover span { /* CSS for enlarged image */
position: fixed;
visibility: visible;
top: 230px;
left: 230px; position /* where enlarged image should offset horizontally */
z-index: 50;
}