doctype html
html(lang="en")
	head
		title Placeability Classification - Ground Truth
		link(rel="stylesheet" type="text/css" href="./gallery.css")
	body
		div
			h1 Placeable images
			div.gallerycontainer
				each im in p
					a.thumbnail
						img(src=im.im_url width="200px")
						span
							img(src=im.im_url)
							br
							=im.swe_url
							br
							=im.im_id
		div
			h1 Not placeable images
			div.gallerycontainer
				each im in np
					a.thumbnail
						img(src=im.im_url width="200px")
						span
							img(src=im.im_url)
							br
							=im.swe_url
							br
							=im.im_id