doctype html
html(lang="en")
	head
		title Semantic Analysis - Ground Truth
	body
		form#result(action="gt_res" method="post")
			b= tag
			input(type="hidden" form="result" name="tag" value=tag)
			br
			img(src=im_url)
			br
			span= tag_ctx
			br
			table
				tr
					th Method
					th SWE
					th yes/no/?
				each url, method in swe_url
					tr
						td= method
						td
							a(href=url)= url
						td
							each v in ['y', 'n', '?']
								if eval[method] && eval[method] == v
									input(type="radio" form="result" checked name=method value=v)
								else
									input(type="radio" form="result" name=method value=v)
			br
			input(type="submit" form="result" value="Next Image")